
.logo {
  height: 90px; 
  width: 90px; 
  margin-right: -15px;
}

.bgDiv {
  height: 720px;
}

#gradientBackground {
  background-image: linear-gradient(to right, #033407, rgba(255, 0, 0, 0));
}

#mainDiv_1 {
  /* background-image: linear-gradient(to right, #033407, rgba(255, 0, 0, 0)); */
}

#footer {
  background-image: linear-gradient(to left, #033407, #086510);
}

.h {
    display: none;
}

  @media screen and (max-width: 800px) {
     .head {
       padding: 0;
     } 
     .logo {
      height: 80px; 
      width: 80px;
     }
     ._head {
      font-size: 25px;
     }
     ._headB {
      font-size: 12px;
     }
   }

     #wwelcomeText {
       padding-top: 180px;
     }

   @media screen and (max-width: 500px) {
    .logo {
      height: 70px; 
      width: 70px;
      margin-right: -10px;
     }
     ._head {
      font-size: 20px;
     }
     ._headB {
      font-size: 10px;
     }
     #wwelcomeText {
      padding-top: 10px;
     }
     .showInMobile {
      display: block;
     }
      .showInPc {
         display: none;
      }
      .hotline {
        font-size: 25px;
      }
      .bgDiv {
        height: auto;
      }
   }
     .showInMobile {
       display: none;
     }

   #mainDiv_2 {
    display: none;
  }

   @media screen and (max-width: 400px) {
    .logo {
      height: 45px; 
      width: 45px;
     }
     ._head {
      font-size: 22px;
     }
     ._headB {
      font-size: 10px;
     }
    .ftr_subsc {
      font-size: 16px;
    }
    .f {
      padding: 0;
    }
   }

  @media screen and (max-width: 300px) {
    
    .logo {
      margin-right: -15px;
    }
   
    .our_services,
    .ftr_head {
      font-size: 25px;
    }
    .ftr_subsc {
      font-size: 13px;
    }
    .ab_con {
      padding: 0;
    }
    .icons {
      height: 35px;
      width: 100px;
    }
    .examadd {
     font-size: 16px;
    }
    ._head2,
    .ftr_disc,
    .about_disc,
    .ftr_address {
      font-size: 13px;
      
    }
  }

  .change-bg {
    background-image: url('/img/3.png');
  }

 