<body style="
    background: url(/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  ">
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row f">
                <div class="col-sm m-3 text-center">
                    <img class="img-fluid rounded p-2" src="/img/features/1.png" alt="Football turf">
                    <h4>24/7 Booking System</h4>
                    <p>Book your play schedule anytime!!!</p>
                </div>
                <div class="col-sm m-3 text-center">
                    <img class="img-fluid rounded p-2" src="/img/features/2.png" alt="Football turf">
                    <h4>Attached Washroom</h4>
                    <p>Get a shower when the game is over!!!</p>
                </div>
            </div>
            <div class="row f">
                <div class="col-sm m-3 text-center">
                    <img class="img-fluid rounded p-2" src="/img/features/3.png" alt="Football turf">
                    <h4>Jersey & Football Support</h4>
                    <p>Wo worries if you forget to bring your football!!!</p>
                </div>
                <div class="col-sm m-3 text-center">
                    <img class="img-fluid rounded p-2" src="/img/features/4.png" alt="Football turf">
                    <h4>Food/Water Supply</h4>
                    <p>Food & Water always available for you!!!</p>
                </div>
            </div>
            <div class="col-sm m-3 text-center">
                    <img class="img-fluid rounded p-2" src="/img/features/5.png" alt="Football turf">
                    <h4>Personal Locker</h4>
                    <p>Keep your valuable stuff in your personal locker!!!</p>
                </div>
        </div>
    </div>
    </div>

    <%- include('./partials/footer.ejs') %> 

</body>