
<div class="container-fluid bg-light text-light border" id="footer">
<div class="container-fluid d-flex justify-content-center p-3">
    <h4 style="font-family: Sofia, sans-serif ftr_head;" class="font-italic mt-2 text-light">Sports<strong><i style="font-size:24px" class="fa">&#xf1e3;</i></strong>Fantasy</h4>
</div>

<div class="row">
    <div class="col-md-3 d-flex justify-content-center">
        <i class='fas fa-map-marker-alt' style='font-size:24px'></i></i>&nbsp;&nbsp;&nbsp;
        <p class="ftr_address">North Halishahar, Chowdhury Para, Halishahar, Chattogram.</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="d-flex justify-content-center">
            <i class='fas fa-phone-square-alt' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
            <p class="ftr_address">+ (880) 1878-369731</p>
        </div>
        <div class="d-flex justify-content-center">
            <i class='fas fa-phone-square-alt' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
            <p class="ftr_address">+ (880) 1811-596090</p>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
        <i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
        <p class="ftr_address">sportsfantasy@gmail.com</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="container mt-2 d-flex flex-column">
            <h6 class="text-light p-2">FOLLOW US</h6>
            <div class="container">
                <a href="#" target="_blank" class="facebook text-light"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="twitter"><i class="fab fa-twitter text-light"></i></a>
                  <a href="#" class="google"><i class="fab fa-google text-light"></i></a>
                  <a href="#" class="linkedin"><i class="fab fa-linkedin-in text-light"></i></a>
                  <a href="#" class="youtube"><i class="fab fa-youtube text-light"></i></a>
            </div>
           
        </div>
    </div>
</div>
<hr>
<!-- footer  -->
<div class="container-fluid d-flex justify-content-center">
    <p class="ftr_address">Copyright © 2022 WDS All Rights Reserved.</p>
</div>
</div>
