<div class="container">
        <p class="navHead" data-toggle="collapse" data-target="#basic_module">
          <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp; Basic
          Module
        </p>

        <div id="basic_module" class="collapse">
          <ul>
            <li>
              <a class="" style="text-decoration: none" href="/medicine">Add Medicine</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/test">Add Test</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/#">Add Suggestion</a>
            </li>
            <li>
              <a class="" style="text-decoration: none" href="/print">Print</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-3">
        <!-- <p class="navHead" data-toggle="collapse" data-target="#basic_module">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/prescribe" style="text-decoration: none">Prescribe</a>
          </p> -->
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#C_S">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            Prescribe
          </p>

          <div id="C_S" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/prescribe">Child Patient</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/prescribe">Young Patient</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/prescribe">Old Patient</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="mt-3">
        <div class="container">
          <p class="navHead" data-toggle="collapse" data-target="#UA">
            <i class="fas fa-caret-right" style="font-size: 17px"></i>&nbsp;
            User Account
          </p>

          <div id="UA" class="collapse">
            <ul>
              <li>
                <a class="" style="text-decoration: none" href="/#">Change Password</a>
              </li>
              <li>
                <a class="" style="text-decoration: none" href="/#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>