<% if (locals.successMsg != null) {%> 
    <div class="container text-center successMsgDiv">
        <div class="alert alert-success">
            <%= successMsg %>
          </div>
    </div>
<% } %> 